body {
    background-color: #b0160c;
    align-items: center;
    font-family: 'Brush Script MT';
}

h1 {
    font-size: 50px;
}

div {
    background-color: #820d0f;
    color: #f88105;
    margin: 0;
    text-align: center;
    border-radius: 100px;
    border: 2px solid #f88105;
}

.item {
    padding: 10px;
}

button {
    background-color: #57080c;
    color: #f88105;
    border: none;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border-radius: 100px;
    border: 2px solid #f88105;
}

.button-container {
    width: 600px;
    overflow-y: auto;
    font-family: 'Calibri';
    background-color: #57080c;
    color: #f88105;
    border: none;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border-radius: 100px;
    border: 2px solid #f88105;
}

.button-container > button {
    width: 100px;
    height: 100px;
    background-color: brown; /* Green */
    border: none;
    color: white;
    padding: 0;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}