body {
    background-color: #b0160c;
    align-items: center;
    font-family: 'Brush Script MT';
    line-height: 0.6;
}

h1 {
    font-size: 50px;
}

div {
    background-color: #820d0f;
    color: #f88105;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #f88105;
}

.item {
    padding: 10px;
    line-height: 6;
}

button {
    background-color: #57080c;
    color: #f88105;
    border: none;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border-radius: 10px;
    border: 2px solid #f88105;
}

.textBox {
    background-color: #57080c;
    color: #f88105;
    border: none;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border-radius: 10px;
    border: 2px solid #f88105;
}

.textBox::placeholder {
        color: #f88105;
}

.textBox:focus {
    outline: none;
}

.hr {
    background-color: #f88105;
    border: none;
    padding: 1px 32px;
    font-size: 16px;
}

.winner {
    font-size: 50px;
    font-family: 'Calibri';

}

